body{
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}
header{
    background-color: #333333;
    text-align: center;
}
h1{
    color: #eee;
    font-size: 28px;
    text-align: center;
}
.container{
    width: 1024px;
    margin: auto;
}
h2{
    font-size: 24px;
}
#main-bio{
    float: left;
    width: 70%;
    height: auto;
}
#contact-info{
    float: left;
    width: 30%;
    color: red;
}
#bio-image{
    float: left;
    width: 200px;
    margin: 15px;
}
